In [15]:
require(Hmisc)
require(knitr)
require(IRdisplay)
getHdata(rhc)
n <- nrow(rhc)
cat("Number of patients: ", n)

Number of patients:  5735

## ABSTRACT

To examine the association between the use of right heart catheterization (RHC) during the first 24 hours of care ....

## SUBJECTS

A total of XX critically ill adult patients receiving care in an ICU for 1 of 9 prespecified disease categories.

## RESULTS

By case-matching analysis ...

In [24]:
tbl1 <- summaryM(
  sex + age + edu ~ swang1, 
  data = rhc,
  overall = TRUE
)
tbl1 <- summaryM_to_df( 
    tbl1, 
    exclude1 = FALSE, 
    digits = 2, 
    long = TRUE,
    html_space = FALSE
)
display_html(paste(capture.output(kable(tbl1,format="html")), collapse="", sep=""))

,No RHC,RHC,Combined
,(N=3551),(N=2184),(N=5735)
sex,,,
Female,0.46 (1637),0.41 ( 906),0.44 (2543)
Male,0.54 (1914),0.59 (1278),0.56 (3192)
Age,50/65/75,50/64/73,50/64/74
Years of Education,10/12/13,10/12/14,10/12/13